@{
    ViewData["Title"] = "Portfolio";
}

<h2>My Portfolio</h2>
<div class="container">
    <h3>This personal website was written using ASP .NET Core 2.1</h3>
    <hr />
    <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/productsimages/justmock/justmock__net_770.png?sfvrsn=b4522579_1" />
    <h4>Programming techniques used:</h4>
    <ul>
        <li>Object relational mapping with Entity Framework</li>
        <li>The SOLID Principles of object oriented design</li>
        <li>Model View Controller architecture</li>
        <li>Razor pages for generating HTML code from the server</li>
        <li>Bootstrap CSS</li>
    </ul>

</div>

