@model MayerP4.Models.Message

@{
    ViewData["Title"] = "Contact Me";
}

<h2>Contact Me</h2>

<h4>Create a message to email</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="radio form-group well" id="radioButtonGroup">
                <label asp-for="TypeOfRequest" class="radio-inline">
                    <input asp-for="TypeOfRequest" value="Quote" type="radio"> Quote
                </label>
                <label asp-for="TypeOfRequest" class="radio-inline">
                    <input asp-for="TypeOfRequest" value="General Message" type="radio"> General Message
                </label>
                <label asp-for="TypeOfRequest" class="radio-inline">
                    <input asp-for="TypeOfRequest" value="Job Offer" type="radio"> Job Offer
                </label>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsWebApp" /> @Html.DisplayNameFor(model => model.IsWebApp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPhoneApp" /> @Html.DisplayNameFor(model => model.IsPhoneApp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsWindowsApp" /> @Html.DisplayNameFor(model => model.IsWindowsApp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Text" class="control-label"></label>
            <textarea asp-for="Text" class="form-control" rows="20"> </textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
