@model MayerP4.Models.ResumeViewModel
@{
    ViewData["Title"] = "Resume";
}

<h2>Resume</h2>

<p>@Html.DisplayFor(model => model.Intro)</p>

<div class="row">
    <div class="col-md-12">
        <h1>Skills</h1>
        <ul>
            @foreach (var skill in Model.Skills)
            {
                <li>
                    @skill
                </li>
            }
        </ul>
    </div>
    <div class="col-md-12">
        <h1>Experience</h1>
        <ul>
            @foreach (var experience in Model.Experiences)
            {
                <li>
                    @experience
                </li>
            }
        </ul>
    </div>
    <div class="col-md-12">
        <h1>Education</h1>
        <ul>
            @foreach (var education in Model.Educations)
            {
                <li>
                    @education
                </li>
            }
        </ul>
    </div>
</div>
